.form *{
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.form-input {
  border: 2px solid black;
  padding: 4px;
}

.form-error {
  font-weight: bolder;
  color: red;
}

.form-valid {
  font-weight: bolder;
  color: green;
}

.form-button {
  border: 2px solid black;
  padding: 4px;
  background: white;
}

label {
  display: block;
}